h1, .techStaffTitle{
    font-family: 'Pacifico' , cursive;
}

body {
    margin: 0;
    
}

#hero {
    width: 100%;
    height: 75vh;
    position: relative;
    margin-bottom: -80px;
}

#hero:before {
    content: "";
    /* background: var(--blur); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;   
}

#hero h1 {
    margin: 10px;
    font-size: 2rem;
    font-weight: 900;
    line-height: 56px;
    color: #fff;
     margin: 0;
     padding: 0;
    background-color: var(--accent)
    /* color: var(--text); */
   /* background-color: var(--accent)*/
}



#main {
    margin-top: 80px;
}

.light-shadow {
    box-shadow: 5px 5px 5px var(--inactive);
}

.hod-img {
    width: 300px;
    height: 300px;
}

.teacher {
    border-radius: 10px;
    transition: 500ms;
}

.teacher:hover {
    transform: scale(1.035, 1.035);
}


.teacherDetail {
    color: #afafaf;
    transition: 500ms;
}

.teacher:hover > .teacherDetail {
    color: #000;
}

.desk,
.team {
    background-color: var(--background);
}

.gallery-img {
    transition: 500ms;
}

.gallery-img:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--newsevent);
}

.teacherCard {
    border: none;
    background: transparent;
}

.loader {
    border: 16px solid var(--background);
    border-top: 16px solid var(--accent);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.features{
    background: var(--newsevent);
    background: linear-gradient(var(--newsevent) 0% , var(--blur) 100%);
}

.featureCard{
    background-color: #edf1f5;
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
    transition: 700ms;
}

.featureRule{
    height: 5px !important;
    background-color: var(--accent);
    transition: 600ms;
}

.featureCard:hover{
    transform: scale(1.05,1.05);
}

#staffToggleIcon , #allStaff{
    transition: 600ms;
}


.img-height{
    height: 180px;
}

@media only screen and (max-width: 576px) {
    .img-height{
        height: 260px;
    }
}
