@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(238, 236, 236);
    background: linear-gradient(152deg, rgba(238, 236, 236, 1) 0%, rgba(203, 209, 215, 1) 100%);
    z-index: 200;
    overflow: hidden;
    text-align: center;
    transition: 2s;
}

.quoteContainer {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Orelega One', cursive;
    font-size: 0.7rem;
}

.border-line {
    color: var(--text);
    height: 5px !important;
    width: 25vw;
}

.dept-card {
    box-shadow: 2px 2px 20px var(--inactive);
    margin: 20px 0 !important;
}

.under-card {
    background-image: url('images/undergrad.jpg');
    background-size: cover;
}


.dept-text {
    background-color: rgba(255, 255, 255, 0.85);
}

.message-image {
    height: 200px;
    width: 200px;
    border-radius: 500%;
    background-size: cover;
    background-repeat: no-repeat;
}

.message-box {
    background-color: var(--background);
}

.imgSlider {
    height: 40vh !important;
}

.card-body {
    background-color: var(--newsevent);
}

.quoteMark{
    font-family: 'Secular One', sans-serif;
    font-size: 10rem;
    color: var(--accent);
}

.messageText{
    color: rgb(83, 81, 81);
    font-style: italic;
}


@media only screen and (max-width: 576px) {
    .announcement-heading {
        display: none !important;
    }

    .eventDetail {
        display: block !important;
    }

    .quoteMark{
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .imgSlider {
        height: 80vh !important;
    }
}

.overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(53, 71, 89);
    background: radial-gradient(circle, rgba(53, 71, 89, 0.0923455056179775) 0%, rgba(53, 71, 89, 0.2299859550561798) 50%, rgba(53, 71, 89, 0.2945926966292135) 100%);
}

.marquee {
    margin: 0 auto;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    /* width: 50px;
    height: 30px; */
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
}

.marquee:after {
    right: 0;
}

.marquee__content {
    display: flex;
    line-height: 30px;
    transition: 500ms;
    -webkit-animation: marquee linear infinite forwards;
    animation: marquee linear infinite forwards;
}

.announcement-heading {
    background-color: var(--accent) !important;
    padding-right: 0%;
}

.announcement-item {
    /* background-color: var(--inactive); */
    transition: 500ms;

}

.announcement-item:hover {
    background-color: var(--blur);
    transform: scale(1.025, 1.025);
    cursor: pointer;
}


.marquee__content:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.list-inline {
    display: flex;
    justify-content: flex-start;
    width: 33.33%;
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-66.6%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-66.6%);
    }
}

.eventCard {
    background-color: #fff;
    border-radius: 10px;
    transition: 600ms;
}

.eventDetail {
    display: none;
    transition: 1s;
}

.eventCard:hover>.eventDetail {
    display: block;
    max-height: 1000px;
}

.quickLinkCard {
    background-color: var(--background);
    transition: 500ms;
}

.quickLinkCard:hover {
    transform: scale(1.1, 1.1);
    background-color: var(--accent);
}

.quickLinkCircle {
    background-color: var(--accent);
}



/* STUDY @ RIT */

.courseHeading{
    color: #fff;
}

.outerBg{
    background: var(--background);
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('images/undergrad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.courseCards .container{
    transition: 500ms;
}


.course-name {
    color: #fff !important;
    background: transparent !important;
    font-size: 18px !important;
    transition: 500ms;
}

.course-name:hover {
    background: var(--blur) !important;
    cursor: pointer;
}

.viewAllBtn{
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    transition: 500ms;
}

.viewAllBtn:hover{
    background-color: var(--accent);
    color: #fff;
}

@media only screen and (max-width: 576px) {

    .card:hover {
        height: 600px;
    }

    .card:hover>.imgBx {
        display: none;
    }

    .container .card:hover .contentBx {
        top: 0;
        overflow: visible;
    }
}

/* Notice Board */

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-blue {
    background-color: #00b5ec;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(207, 149, 149, 0.05);
}

/* End of Notice Board */

.princiName{
    color: var(--accent);
    font-style: normal;
    text-align: right;
}

.princiPost{
    color: #000;
    text-align: right;
}

.vismis {
    color: var(--text);
}

.visbar,
.misbar {
    height: 5px !important;
    width: 20%;
    background-color: var(--accent);
    transition: 600ms;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* .misbar{
    float: right;
    height: 5px !important;
    width: 20%;
    background-color: var(--accent);
    transition: 600ms;
} */

#visionText,
#missionText {
    transition: 600ms;
}

#visionText:hover,
#missionText:hover {
    transform: scale(1.05, 1.05);
    background-color: #fff;
}

#visionText:hover>.visbar {
    width: 100%;
}

#missionText:hover>.misbar {
    width: 100%;
}

.impLinks{
    background-color: var(--accent);
}

.impLinkText{
    color: #fff;
    transition: 500ms;
}

.impLinkText:hover {
    color: #000;
    transform: scale(1.1);
}