@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&display=swap');

a{
    color: var(--text);
    text-decoration: none;
}

body {
    background: #edf1f5 !important;
    color: var(--text) !important;
}

.section-style {
    margin: 2rem 1rem 0;
}

.navbar-light .navbar-nav {
    color: #fff !important;
}

.active .nav-link{
    color: #fff !important;
}

.dropdown-item a{
    color: #000 !important;
}

.dropdown-item:hover {
    background-color: var(--blur) !important;
}



.bg-light {
    background-color: var(--background) !important;
}

.btn {
    color: var(--background) !important;
    background-color: var(--accent) !important;
}

.text-btn {
    margin: 5px;
    text-decoration: none;
    background: var(--background);
    color: var(--text);
    cursor: pointer;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: 2px 2px 8px var(--inactive);
}

.text-btn:hover {
    background: var(--accent);
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px var(--inactive);
    padding: 10px;
    color: var(--text);
}

.text-btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: var(--text);
}

.tour-btn::after {
    content: "\f21d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translate(-50%, -50%);
}

.ritsoft-btn::after {
    content: "\f4c4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translate(-50%, -50%);
}

.login-btn::after {
    content: "\f2f6";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translate(-50%, -50%);
}

.active-btn::after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translate(-50%, -50%);
}

footer {
    clear: both;
    background: darkolivegreen;
    text-align: center;
}

.link-text {
    text-decoration: none;
    color: rgb(2, 2, 19) !important;
}

/*footer*/
.col_white_amrc {
    color: #ffffff !important;
}

footer {
    width: 100%;
    background-color: var(--footerColor);
    color:var(--background) !important ;
   /* background-color:aqua;*/
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color:rgb(255, 255, 255) !important;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: rgb(255, 255, 255) !important;
}

.footer_ul_amrc li a:hover {
    color: rgb(255, 255, 255) ;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: rgb(255, 255, 255) ;
    margin: 0 12px;
}

.social_footer_ul {
    list-style-type: none;
}

.social_footer_ul li {
    padding: 10px;
    float: left;
}

.social_footer_ul li a {
    color: var(--text1) ;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    border-radius: 25%;
    float: left;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer-social-media:hover {
    transition: 500ms;
    background-color: var(--inactive);
}

.login,
.image {
    min-height: 100vh;
}

.login-container {
    width: 25%;
}


.circle-btn {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: var(--text);
    border-radius: 50%;
    border: solid 2px var(--text);
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
}

.circle-btn:hover {
    background-color: var(--accent);
    color: var(--text) !important;
}

.news-card {
    transition: 0.8s;
}

.scroll-bar {
    margin: 10px 0;
    height: 150px;
    overflow-y: scroll !important;
}

.scroll-bar::-webkit-scrollbar {
    width: 0.5em;
}

.scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--inactive);
    -webkit-box-shadow: inset 0 0 6px var(--inactive);
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border-radius: 10px;
}

.test {
    background-color: red;
    height:200px;
}

.log {
    background-color: green;
}

.card-title {
    font-size: 1.25rem;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
.topBtn{
   /* font-family: 'Rubik', sans-serif;*/
    font-weight: 700;
    padding: 2px;
    text-decoration:#fff;
    color:#fff;
}
.topBtn:hover{
    text-decoration:#000;
    color:#000;
}

.accent-color{
    background-color: var(--newsevent);
}

.footView{
    text-align: right;
}

@media only screen and (max-width: 576px) {
    .view-more::before{
        content: ''!important;    
    }
    .footLogo{
        display: none;
    }
    .footView{
        text-align: left;
    }
    .topBtn{
        font-size: 10px;
        color:rgb(255, 255, 255);
    }
}

@media only screen and (min-width: 992px) {
    .dropdown .dropdown-menu {
        -webkit-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -moz-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -ms-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }

    .dropdown:hover .dropdown-menu {
        max-height: 500px;
        opacity: 1;
    }
}

.announcement-link{
    text-decoration: none;
    color: var(--text);
}

.qlinks{
    text-decoration: none;
    color: #fff !important;
}

.linkContainer{
    transition: 600ms;
}
.linkContainer:hover{
    background: var(--blur);
    transform: scale(1.1,1.1);
}

#linksButton{
    cursor: pointer;
}

#linkIcon{
    transition: 800ms;
}

#links{
    transition: 600ms;
}

html{
    scroll-behavior: smooth;
}

.view-more{
    font-size: 0.95rem !important;
}

.view-more:hover:before{
    content: "View All";    
}

#navbarText{
    width: 100%; 
    background: var(--accent);
    /* background: linear-gradient(352deg, var(--blur) 0%, var(--newsevent) 50%, var(--blur) 100%); */
    /* box-shadow: 0 0px 32px 0px var(--blur) inset; */
    color: #ffffff;
}

.marqBar{
    box-shadow: 0 -5px 10px 5px var(--blur) inset;
}

.nav-item{
    font-size: 18px;
}