body {
    text-align: justify !important;
}
h1,h2,h3,h4,h5,h6{
    word-wrap: break-word !important;
    white-space: normal !important; 
    text-align: left !important;
}


.max {
    max-height: 30vh;
}

.avatar-xl img {
    width: 110px;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
    
}

.back-btn {
    font-size: 2rem;
    margin-right: 20px;
}

.badge-style {
    background-color: var(--blur);
    color: var(--text);
    transition: 600ms;
}

.badge-style:hover {
    background-color: var(--accent);
    transform: scale(1.1, 1.1);
    color: #fff;
}

.pubs {
    box-shadow: 0 1px 2px 2px var(--blur) inset;
    border-radius: 10px;
    transition: 600ms;
}

/* .pubs:hover{
    transform: scale(1.05);
    background-color: var(--blur);
    color:#fff;
} */