body {
    min-height: 100vh;
  
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 100%);
  }
  .announcement-link{
    text-decoration: none;
    color: var(--text);
}
@media only screen and (max-width: 576px) {
    .announcement-heading {
        display: none !important;
    }

    .eventDetail {
        display: block !important;
    }
}

@media only screen and (min-width: 576px) {
    .imgSlider {
        height: 80vh !important;
    }
}

.overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(53, 71, 89);
    background: radial-gradient(circle, rgba(53, 71, 89, 0.0923455056179775) 0%, rgba(53, 71, 89, 0.2299859550561798) 50%, rgba(53, 71, 89, 0.2945926966292135) 100%);
}

.marquee {
    margin: 0 auto;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    /* width: 50px;
    height: 30px; */
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
}

.marquee:after {
    right: 0;
}

.marquee__content {
    display: flex;
    line-height: 30px;
    transition: 500ms;
    -webkit-animation: marquee linear infinite forwards;
    animation: marquee linear infinite forwards;
}

.announcement-heading{
    background-color: var(--accent) !important;
    padding-right: 0%;
}
.announcement-item {
    background-color: var(--inactive);
    transition: 500ms;
    
}

.announcement-item:hover {
    background-color: var(--blur);
    transform: scale(1.025, 1.025);
    cursor: pointer;
}


.marquee__content:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.list-inline {
    display: flex;
    justify-content: flex-start;
    width: 33.33%;
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-66.6%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-66.6%);
    }
}