.test {
    background-color: red;
}

.log {
    background-color: greenyellow;
}

h4,h6{
    color: #fff !important;
}

.avatarImg {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: var(--blue);
    font-weight: 900;
    font-size: 1.5rem;
}

.permission{
    display: inline-block;
    background-color: var(--green);
    border-radius: 10px;
    color: #fff;
}

.profile-card{
    border-radius: 20px;
    background-color: var(--blue) !important;
    box-shadow: 3px 3px 5px rgba(124, 120, 120, 0.25);
}

.confirmBox{
    display: none;
}

.red{
    color: var(--red) !important;
}

.green{
    color: var(--green) !important;
}

p{   
    
    color:#fff;
   
}