body {
  /* padding:0;
	margin:0; */
  background: var(--inactive);
}

/*	general	*/

section {
  padding: 50px 0;
}


.gallery-title {
  font-size: 36px;
  color: #3F6184;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.filter-button {
  font-size: 18px;
  border: 2px solid var(--blur);
  padding: 5px 10px;
  text-align: center;
  color: var(--accent);
  margin-bottom: 30px;
  background: transparent;
}

.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  color: #ffffff;
  background-color: var(--accent);
  outline: none;
}

.gallery_product {
  margin: 0px;
  padding: 0;
  position: relative;
}

.gallery_product .img-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  top: 0;
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: zoom-in;
}

.gallery_product:hover .img-info {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

.imgSettings {
  width: 100%;
  height: 40vh;
}

.roundimg {
  border-radius: 20px;
}

/*	end gallery */


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: none;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}