.view-card{
    transition: 600ms;
}

.view-card:hover{
    background: var(--blur);
    transform: scale(1.05,1.05);
}

.content-card{
    border-left: 5px solid var(--accent);
}

.content-img{
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 100%;
}

@media only screen and (max-width: 576px) {
    .content-card{
        border-left: none;
        border-bottom: 5px solid var(--accent);
    }

    .content-img{
        width: 100%;
        height: 30vh;
    }
}